[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/nigels-com/glew
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot
